*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Inter;
}

body{
background:#111;
color:white;
}


/* NAVBAR */

.navbar{
display:flex;
justify-content:space-between;
padding:30px 80px;
}

.navbar a{
margin-left:30px;
text-decoration:none;
color:white;
}


/* HERO */

.hero{
display:flex;
align-items:center;
justify-content:space-between;
padding:100px 80px;
height:100vh;
}

.hero-text h1{
font-size:60px;
margin-bottom:20px;
}

.hero-text p{
opacity:0.7;
margin-bottom:30px;
}

.btn{
background:white;
color:black;
padding:12px 30px;
border-radius:30px;
cursor:pointer;
}

.hero-img img{
width:450px;
border-radius:10px;
}


/* PORTFOLIO */

.portfolio{
padding:120px 80px;
}

.portfolio h2{
font-size:40px;
margin-bottom:60px;
}

.grid{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:40px;
}

.project img{
width:100%;
border-radius:10px;
}

.project h3{
margin-top:10px;
}


/* ABOUT */

.about{
padding:120px 80px;
max-width:700px;
}


/* CONTACT */

.contact{
padding:120px 80px;
}


/* FOOTER */

footer{
padding:40px;
text-align:center;
opacity:0.6;
}
.project{
transition:0.3s;
}

.project:hover{
transform:translateY(-10px);
}
@media(max-width:900px){

.hero{
flex-direction:column;
text-align:center;
}

.hero-img img{
width:300px;
margin-top:40px;
}

.grid{
grid-template-columns:1fr;
}

}
.stats{
display:flex;
justify-content:center;
gap:60px;
padding:80px;
}

.stat{
text-align:center;
}

.stat h3{
font-size:40px;
margin-bottom:10px;
}